package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};import org.springframework.stereotype.Repository;

/**
 * <p>
  * ${table.comment} Mapper 接口
 * </p>
 *
 * @author Shawn
 * @since ${date}
 */
@Repository
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}